
# 建议留空使用相对路径，Vite proxy 或 Nginx 代理进行处理
VITE_API_URL=""

# 本地开发API代理，如 http://localhost:8000 http://192.168.1.100:8000
VITE_PROXY_TARGET=http://localhost:8000

# Code Server地址，默认为/code_ide，本地开发可改为code-server-proxy服务如http://localhost:8083
VITE_CODE_SERVER_URL=/code_ide

# 可选：备案号，例如 京ICP备12345678号。
VITE_FOOTER_BEIAN=

MAILCATCHER_HOST=http://localhost:1080
